@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'SikFont';
  src: url(../../fonts/NexaBold.woff2) format("woff2"); }

@font-face {
  font-family: 'SikFont';
  src: url(../../fonts/NexaBold.woff2) format("woff2"); }

@font-face {
  font-family: 'SikFont';
  src: url(../../fonts/NexaBold.woff2) format("woff2"); }

html {
  font-size: 10px; }

body {
  font-size: 1.8rem;
  font-family: "SikFont"; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.2rem; }

p {
  line-height: 1.5;
  color: #94989C; }

a {
  text-decoration: none;
  color: #000; }

button {
  font-family: Montserrat; }

@font-face {
  font-family: 'SikFont';
  src: url(../../fonts/NexaBold.woff2) format("woff2"); }

.btn-default, .btn-medium, .btn-small {
  background: #E84310;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: .2s all ease-in; }
  .btn-default:hover, .btn-medium:hover, .btn-small:hover {
    opacity: .8; }
  .btn-default:focus, .btn-medium:focus, .btn-small:focus {
    outline: none; }

.btn-medium {
  font-size: 1.4rem;
  padding: 8px 13px; }

.btn-small {
  font-size: 1.2rem;
  padding: 4px 7px; }

input[type="text"] {
  border: none;
  border: 1px solid #94989C;
  color: #181818;
  font-family: "SikFont";
  font-size: 1.8rem;
  padding: 7px 4px;
  text-transform: capitalize;
  transition: .2s all ease-in; }
  input[type="text"]:focus {
    outline: none;
    border-color: #E84310;
    box-shadow: 0 0 2px 1px rgba(232, 67, 16, 0.5); }

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }

button {
  margin: 10px; }
