@import 'fonts'
@import 'variables'
@import 'typography'


h1,h2,h3
	font-family: $main-font

a
	font-family: $links-font


div
	width: 100px
	height: 100px
	background: $orange-500
	margin: 10px

div + div
	background: $grey-300