//current task - choose typography 
doctype html
html
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="assets/styles/css/index-main.css")
	title sikboards
body
	button.btn-default i am button
	button.btn-medium i am button
	button.btn-small i am button
	label(for="foo") I am label
	input(type="text", name="foo" id="foo")
	input(type="checkbox")
	input(type="radio", name="")
	