doctype html
html
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="assets/styles/css/normalize.css")
	link(rel="stylesheet", href="assets/styles/css/index-main.css")
	title sikboards
body
	.wrapper
		video(autoplay="true" loop muted )
			source(src="assets/video/vid.mp4" type="video/mp4")
		.cont
			h1 introducing sikboards
			a(href="home.html")
				button.btn-default find out more